<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>网球-表格</title>
		<link rel="stylesheet" type="text/css" href="../css/tennis.css"/>
		<script src="../../../js/jquery.min.js"></script>
		<script src="../../../js/vue.js"></script>
	</head>
	<body>
		<div class="csx-wrapper bottom-two">
			<!--表格-->
			<div class="csx-left">
				<!--时间-->
				<div class="csx-time">
					<div class="csx-started">Time Started <div></div></div>
					<div class="csx-Finished">Finished <div></div></div>
				</div>
				<!--表格左侧-->
				<div class="csx-table-left">
					<table border="1" cellspacing="0">
						<tr>
							<th>BC</th>
							<th class="csx-server" colspan="2">SERVER</th>
							<th class="csx-points"  colspan="16">POINTS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SetNO.3</th>
						</tr>
						<!--第一行-->
					    <tr>
					    	<!--BC-->
					    	<td rowspan="2">1</td>
					    	<!--SERVER-->
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<!--POINTS-->
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <tr>
					    	<!--BC-->
					    	<!--SERVER-->
					    	<!--POINTS-->
					        <td><div class="csx-td">A<div class="csx-circle"></div></div></td>
					        <td><div class="csx-td">D</div></td>
					        <td><div class="csx-td">/<div class="csx-circle"></div></div></td>
					        <td><div class="csx-td"><div class="csx-circle"></div></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <!--第二行-->
					    <tr>
					    	<!--BC-->
					    	<td rowspan="2">2</td>
					    	<!--SERVER-->
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<!--POINTS-->
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <tr>
					    	<!--BC-->
					    	<!--SERVER-->
					    	<!--POINTS-->
					        <td><div class="csx-td">A</div></td>
					        <td><div class="csx-td">D</div></td>
					        <td><div class="csx-td">/</div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <!--第三行-->
					    <tr>
					    	<!--BC-->
					    	<td rowspan="2">3</td>
					    	<!--SERVER-->
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<!--POINTS-->
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <tr>
					    	<!--BC-->
					    	<!--SERVER-->
					    	<!--POINTS-->
					        <td><div class="csx-td">A</div></td>
					        <td><div class="csx-td">D</div></td>
					        <td><div class="csx-td">/</div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <!--第四行-->
					    <tr>
					    	<!--BC-->
					    	<td rowspan="2">4</td>
					    	<!--SERVER-->
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<!--POINTS-->
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <tr>
					    	<!--BC-->
					    	<!--SERVER-->
					    	<!--POINTS-->
					        <td><div class="csx-td">A</div></td>
					        <td><div class="csx-td">D</div></td>
					        <td><div class="csx-td">/</div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <!--第五行-->
					    <tr>
					    	<!--BC-->
					    	<td rowspan="2">5</td>
					    	<!--SERVER-->
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<!--POINTS-->
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <tr>
					    	<!--BC-->
					    	<!--SERVER-->
					    	<!--POINTS-->
					        <td><div class="csx-td">A</div></td>
					        <td><div class="csx-td">D</div></td>
					        <td><div class="csx-td">/</div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <!--第六行-->
					    <tr>
					    	<!--BC-->
					    	<td rowspan="2">6</td>
					    	<!--SERVER-->
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<!--POINTS-->
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <tr>
					    	<!--BC-->
					    	<!--SERVER-->
					    	<!--POINTS-->
					        <td><div class="csx-td">A</div></td>
					        <td><div class="csx-td">D</div></td>
					        <td><div class="csx-td">/</div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <!--第七行-->
					    <tr>
					    	<!--BC-->
					    	<td rowspan="2">7</td>
					    	<!--SERVER-->
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<!--POINTS-->
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <tr>
					    	<!--BC-->
					    	<!--SERVER-->
					    	<!--POINTS-->
					        <td><div class="csx-td">A</div></td>
					        <td><div class="csx-td">D</div></td>
					        <td><div class="csx-td">/</div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <!--第八行-->
					    <tr>
					    	<!--BC-->
					    	<td rowspan="2">8</td>
					    	<!--SERVER-->
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<!--POINTS-->
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <tr>
					    	<!--BC-->
					    	<!--SERVER-->
					    	<!--POINTS-->
					        <td><div class="csx-td">A</div></td>
					        <td><div class="csx-td">D</div></td>
					        <td><div class="csx-td">/</div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <!--第九行-->
					    <tr>
					    	<!--BC-->
					    	<td rowspan="2">9</td>
					    	<!--SERVER-->
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<!--POINTS-->
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <tr>
					    	<!--BC-->
					    	<!--SERVER-->
					    	<!--POINTS-->
					        <td><div class="csx-td">A</div></td>
					        <td><div class="csx-td">D</div></td>
					        <td><div class="csx-td">/</div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <!--第十行-->
					    <tr>
					    	<!--BC-->
					    	<td rowspan="2">10</td>
					    	<!--SERVER-->
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<!--POINTS-->
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <tr>
					    	<!--BC-->
					    	<!--SERVER-->
					    	<!--POINTS-->
					        <td><div class="csx-td">A</div></td>
					        <td><div class="csx-td">D</div></td>
					        <td><div class="csx-td">/</div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <!--第十一行-->
					    <tr>
					    	<!--BC-->
					    	<td rowspan="2">11</td>
					    	<!--SERVER-->
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<!--POINTS-->
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <tr>
					    	<!--BC-->
					    	<!--SERVER-->
					    	<!--POINTS-->
					        <td><div class="csx-td">A</div></td>
					        <td><div class="csx-td">D</div></td>
					        <td><div class="csx-td">/</div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <!--第十二行-->
					    <tr>
					    	<!--BC-->
					    	<td rowspan="2">12</td>
					    	<!--SERVER-->
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<td rowspan="2"><div class="csx-td"></div></td>
					    	<!--POINTS-->
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					    <tr>
					    	<!--BC-->
					    	<!--SERVER-->
					    	<!--POINTS-->
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td class="csx-border-right"><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					        <td><div class="csx-td"></div></td>
					    </tr>
					</table>
				</div>
				<!--表格右侧-->
				<div class="csx-table-right">
					<table border="1" cellspacing="0">
						<tr>
							<th colspan="2" class="twoTitle">TIE<br />BREAK</th>
						</tr>
					    <tr>
					    	<td class="csx-right-games1"><div class="csx-td"></div></td>
					    	<td class="csx-right-games1"><div class="csx-td"></div></td>
					    </tr>
					    <tr v-for="(item,index) in 18" :class="(index+1)%6 == 0 && index != 0 ? 'bottomTwo' : ''">
					    	<td class="csx-right-games2"><div class="csx-td"></div></td>
					    	<td class="csx-right-games2"><div class="csx-td"></div></td>
					    </tr>
					</table>
					<table border="1" cellspacing="0">
						<tr>
							<th colspan="2" class="twoTitle">GAMES</th>
						</tr>
					    <tr>
					    	<td class="csx-right-games1"><div class="csx-td"></div></td>
					    	<td class="csx-right-games1"><div class="csx-td"></div></td>
					    </tr>
					    <tr v-for="(item,index) in 13" :class="index+1 == 12 ? 'bottomTwo' : ''">
					    	<td class="csx-right-games2"><div class="csx-td"></div></td>
					    	<td class="csx-right-games2"><div class="csx-td"></div></td>
					    </tr>
					</table>
				</div>
			</div>
			<!--底部人员-->
			<div class="player-boottom">
				<div class="csx-player-left">
					<div class="csx-started1">Player(S)
						<div></div>
					</div>
					<div class="csx-started1">Player(S)
						<div></div>
					</div>
				</div>
				<div class="csx-player-right">
					<div class="csx-div-score">Score</div>
					<table border="1" cellspacing="0" class="csx-score">
						<tr>
							<td>
								<div class="csx-score-td"></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="csx-score-td"></div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
<script>
// 实例化 VUE
   var vm = new Vue({
       data: {
       		left: 5,
       		right: 6
       },
       methods: {

       }
   }).$mount(".csx-wrapper");
</script>