/**
 * 创建人：  丛秀
 * 创建时间：2018-06-21 10:21
 * 功能说明：网球 - 表格二
 */
* {
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.cx-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 560px;
}
.cx-number {
	font-size: 14px;
	padding: 5px 0 1px 20px;
}
/* 左侧表格1 */
.cx-td {
	width: 18px;
	text-align: center;
}
.cx-table-left {
	padding: 0 20px 0 20px;
}
.cx-tie1 {
	height: 38px;
}
.cx-tie2 {
	height: 19px;
}
th {
	font-weight: 500;
}
.tie-font {
	font-size: 12px;
	line-height: 11px;
}
.cx-table-left > table {
	width: 44px;
	float: left;
    border: 2px solid #000000;
}
.cx-tie-color {
	background: #ACACB4;
}
.cx-border-bottom {
	border-bottom: 2px solid #000000;
}
/*左侧表格1end*/
/*左侧表格2*/
.cx-table-ser >table {
	width: 42px;
	float: left;
	margin-left: -1px;
}
.cx-border-ser {
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
}
.cx-ser-tr {
	height: 66px;
}
.cx-ser {
	height: 40px;
}
.cx-ser2 {
	height: 41px;
}
/*左侧表格2end*/
.cx-table-middle > table {
    /*width: 353px;*/
    float: left;
    margin-left: -1px;
}
.cx-table-middle  td {
	height: 19px;
	width: 15px;
}
.cx-table-middle  td > div {
	text-align: center;
}
/* GAME */
.cx-game {
	width: 18px;
}
.cx-game > div div {
	line-height: 15px;
}
.cx-format {
	line-height: 14px;
	text-align: left;
}
.cx-break {
	margin-left: -17px;
}
.cx-set {
	margin-left: -29px;
}
.cx-ad {
	margin-left: -34px;
}
.cx-rec {
	position: relative;
}
.cx-doubles1 {
	display: inline-block;
	width: 70px;
	height: 15px;
	border-bottom: 1px solid #000;
}
.cx-doubles2 {
	position: absolute;
	width: 1px;
	height: 28px;
	border-right: 1px solid #000;
	top: 16px;
	left: 49px;
}
.cx-cu {
	margin-top: 10px;
	line-height: 15px;
}
.cx-started {
	text-align: left;
	margin-top: -30px;
}
.cx-table-middle td {
	position: relative;
}
.cx-border-right {
	border-right: 2px solid #000;
}
.cx-add-height {
	height: 20px !important;
}
/* 圆点 */
.cx-circle {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
    bottom: 4px;
    left: 4px;
}
/* 左侧表格2end */
/* 左侧表格3 */
.cx-games-left > table {
    width: 44px;
    float: left;
}
.games-font {
	height: 22px;
}
/* 最右侧表格 */
.cx-table-ball > table {
    width: 42px;
    float: left;
    margin-left: -1px;
    border: 2px solid #000;
}
.cx-border-top {
    border-top: 2px solid #000000;
}
.cx-ball-tr {
	height: 65px;
}
.cx-games3 {
	height: 675px;
}
/* 底部score */
.cx-score{
	padding: 0 0 0 20px;
}
.top-info  div {
	display: inline-block;
}
.top-info  div:nth-child(1) {
	width: 256px;
}
.cx-table-footer {
	display: inline-block;
}
.cx-table-footer > table {
	width: 418px;
	border-bottom: 2px solid #000000;
	border-top: 2px solid #000000;
	border-left: 2px solid #000000;
	
}
.cx-table-footer td{
	height: 29px;
	width: 29px;
}
.cx-table-footer td div{
	display: inline-block;
}
.cx-finished {
	display: inline-block;
	vertical-align: top;
	width: 89px;
	height: 60px;
	border-bottom: 3px solid #000000;
	border-top: 3px solid #000000;
	border-right: 3px solid #000000;
	margin-left: -4px;
}
.cx-span > span {
	display: inline-block;
	width: 30px;
}
.cx-span > span:nth-child(1){
	margin: 0 0 0 27px;
}
